<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/edition.css">
    <script src="/javaScript/edition.js" defer></script>
  </head>
  <body>
    
<header>

<div class="row">

<div class="col-3 logo">
  <figure class="">
    <img src="" alt="logo">
  </figure>

</div>

<div class="col-6">
  <nav>
    <ul class="ul-navbar">
      <li class="li-navbar"><a href=""> Categories</li></a>
      <li class="li-navbar"><a href=""> Create it Yourself</li></a>
      <li class="li-navbar"><a href=""> Download</li></a>
    </ul>
  </nav>
</div>

<div class="col-2 login-registro">
  <a class="login" href="">Log in</a>
  <a class="registro" href="">Sign up</a>
</div>

</div>

</header>

<div class="row">
  <div class="col-2">
<nav class="barra-lateral">
  
<button class="boton-menu"><li><img src="../images/iconos/new-proyect.png" alt=""> New Proyect</li></button>
  <button class="boton-menu"><li><img src="../images/iconos/upload.png" alt=""> Upload</li></button>
  <button class="boton-menu"><li> <img src="../images/iconos/templates.png" alt=""> Templates</li></button>
  <button class="boton-menu" onclick="showHide()"><li> <img src="../images/iconos/Photos.png" alt=""> Photos</li></button>
  <button class="boton-menu"> <li><img src="../images/iconos/vector.png" alt=""> Vectors</li></button>
  <button class="boton-menu"><li><img src="../images/iconos/Effects.png" alt=""> Effects</li></button>
  <button class="boton-menu"><li><img src="../images/iconos/Sounds.png" alt=""> Sounds</li></button>
  <button class="boton-menu"><li><img src="../images/iconos/Video.png" alt=""> Video</li></button>
  <button class="boton-menu"><li><img src="../images/iconos/fonts.png" alt=""> Fonts</li></button>
</nav>
</div>


<div class="col-3 div-intermitente" id="div-invisible" style="display: none">
<section class="section-edicion">
  <button class="edicion-icono1"><li><img src="../images/iconos-generales/Editor.png" alt=""> </li></button>
  <button class="edicion-icono2"><li><img src="../images/iconos-generales/Goma.png" alt=""> </li></button>
  <button class="edicion-icono3"><li><img src="../images/iconos-generales/tacho.png" alt=""> </li></button>
</section>

  
  <article class="articulo-invisible">
    <div class="div">
    <a class="discover" href="">Discover</a>
    <a class="MyPhotos" href="">My Photos</a>
  </div>

    <form action="" method="POST">
      <input class="buscador" type="search" name="" id="">
    </form>

  <figure class="imagenes-invisibles">
    <img src="../images/frutas/Cherry.jpg" alt="">
    <img src="../images/frutas/dradon.jpg" alt="">
    <img src="../images/frutas/lima.jpg" alt="">
    <img src="../images/frutas/Mandarine.jpg" alt="">
    <img src="../images/frutas/MORAS.jpg" alt="">
    <img src="../images/frutas/pineapple.jpg" alt="">
    <img src="../images/frutas/strawberry.jpg" alt="">
    <img src="../images/frutas/watermelon2.jpg" alt="">
  </figure>

</article>
</div> <!-- Cierre div intermitente-->
<div class="plantilla" style="width: 500px;height: 500px;background-color: silver;">
  <div class="iten">
    <img src="../images/frutas/watermelon2.jpg" alt="">
    <div class="resizer nw"></div>
    <div class="resizer ne"></div>
    <div class="resizer sw"></div>
    <div class="resizer se"></div>
  </div>
</div>
</div> <!--cierre row-->

<script type="text/javascript">  function showHide(){
  var ocultar=document.getElementById('div-invisible') 
  ocultar.style.display=(ocultar.style.display=='none')?'inline':'none' }  </script>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>
