*{
  box-sizing: border-box;
}

body {
background-color: rgb(165, 171, 163);
}

a{
  text-decoration: none;
}

header{
  background-color: rgb(128, 5, 95);
  height: 67px;
}

.logo{
  padding: 2%;
}

.li-navbar{
  padding: 4%;
}

.login-registro{
  padding: 2%;
}

.login{
  background-color: white;
  margin-left: 20%;
  border-radius: 5px;
  font-size: 20px;
}

.registro{
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 13px;
}

.login-registro a{
color: rgb(128, 5, 95);
}

li{
  list-style: none;
}

.ul-navbar li{
float: left;
margin-left: 6%;
}

.ul-navbar a{
  color: white;
}

.ul-navbar{
  overflow: hidden;
}

.barra-lateral{
  width: 100%;
  margin-bottom: 10px;  
}

.barra-lateral ul{
  background-color:rgb(56,56,56);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.barra-lateral li{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.barra-lateral li a{
  text-decoration: none;
  color: black;
  padding: 13% 27% 13% 10%;
  
}

.active{
  background-color:rgb(102,102,102);
  transition: 1s;
  opacity: 5;
}

.borUp{
  height: 20px;
  background-color: red;
  border-radius: 0px 0px 70px 0;
  background-color:  rgb(56,56,56);
}

.bor{
  width: 100%;
}

.borDown{
  height: 20px;
  background-color:red;
  border-radius: 0px 70px 0px 0;
  background-color:  rgb(56,56,56);
}

.articulo-invisible{
    background-color: rgb(146, 150, 144);
    margin-top: 1px;
    width: 64%;
    height: 490px;
    border-radius: 15px;
}

.div-intermitente a:hover{
  font-size: 15px;
  color: white;
}

.section-edicion{
  background-color: rgb(102, 102, 102);
  margin-top: 5px;
  height: 40px;
  width: 64%;
  border-radius: 20px;
}

.section-edicion button{
  margin-top: 6px;
  border-radius: 14px;
}

.edicion-icono1{
  margin-left: 4px;
  width: 23px;
}
.edicion-icono1 img{
  width: 23px;
}
.edicion-icono2{
  margin-left: 28px;
  width: 27px;
}
.edicion-icono2 img{
  width: 27px;
  margin-left: 12px;
}
.edicion-icono3{
  margin-left: 27px;
  width: 23px;
}
.edicion-icono3 img{
  width: 23px;
  margin-left: 26px;
}

.imagenes-invisibles img{
  width: 85px;
  height: 92px;
  margin-left: 10px;
}

.section-edicion button{
  background-color: rgb(102, 102, 102);
}

.div{
  margin-top: 5px;
}

.MyPhotos{
  margin-left: 39px;
}

.discover{
  margin-left: 15px;
}

.buscador{
  border-radius: 23px;
  margin-bottom: 34px;
  margin-top: 17px;
}